body{
    width: 100vw;
    align-items: start;
}

.body_Home_page{
   width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: start;
}

.carousel_area {
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    left: 0;
    right: 0;  
    width: 100%;
}
.div-carousel{
    width: 70%;
}
.Title-cards{
    color: white;
    margin-left: 2vw;
    margin-top: 2vh;
}
.Cards{
    display: flex;
    flex-direction: row;
}