.profile-pic-container {
    width: 100px; /* ou o tamanho que você desejar */
    height: 100px; /* deve ser igual à largura para ser um círculo perfeito */
    border-radius: 50%; /* isso cria o efeito redondo */
    overflow: hidden; /* isso garante que a imagem não saia fora da borda arredondada */
  }
  
  .profile_pic {
    width: 100%;
    height: auto; /* mantém a proporção da imagem */
  }