.body_Card_Register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgba(217, 217, 217, 0.29);
    border-radius: 30px;
    border: none;
    width: 100%;
    height: 100%;
    padding: 5%;
}

.form{
    width: 100%;
}

.Col-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input_form {
    color: aliceblue;
    width: 100%;
}

.input_group {
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: orange;
    color: aliceblue;
    padding: 10px 10px 20px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    background-color: rgba(0, 0, 0, 0.50);
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
}

.input_group::placeholder {
    color: aliceblue;
}

.input_group:focus {
    outline: none;
    inline-size: none;
}

.btn_register {
    border: none;
    cursor: pointer;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.70);
    border-radius: 0%;
    padding: 5%;
    margin-top: 15%;
}

.btn_register:hover {
    background-color: rgb(255, 141, 0);
    color: black;
    transition: background-color 0.7s ease, color 0.7s ease;
}

.link {
    margin-top: 2%;
    color: aliceblue;
    font-size: small;
}

span {
    color: orange;
}

.right_components {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.right_components_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}