html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(255, 141, 0, 1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.body {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card_area {
  width: 100%;
}