.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.drop{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 5%;
   color: orange;
}